@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
@import './styles/variables.css';

*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
}

#root{
  min-height: 100dvh;
  min-height: 100vh;
  background-color: var(--bg-dark);
}

main > section{
  line-height: 1.5;
  padding: min(2rem, 5%);
}

main > section > h1{
  margin-bottom: 1rem;
}

main > section > h1,
main > section > p{
  color: var(--text-clr);
}